@import "../../global.scss";

.menu {
  width: 300px;
  height: 100vh;
  background-color: $mainColor;
  position: fixed;
  top: 0;
  right: -300px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;

  &.active {
    right: 0;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 35px;
    color: rgb(168, 168, 168);
    width: 70%;

    li {
      margin-bottom: 20px;
      a {
        font-size: inherit;
        color: inherit;
        text-decoration: none;
      }
      &:hover {
        font-weight: 500;
        color: rgb(38, 167, 107);
      }
    }
  }
}
