.intro {
  background-color: white;
  display: flex;

  .left {
    flex: 0.5;
    display: flex;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    align-items: center;
    justify-content: center;
    .imageContainer {
      height: 700px;
      width: 700px;
      background-color: rgb(245, 244, 244);
      border-radius: 50%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }
    img {
      height: 90%;
      bottom: 0;
    }
  }
  .right {
    flex: 0.5;
    background-color: rgb(255, 255, 255);
    position: relative;

    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-size: 50px;
        color: #393e46;
      }
      h2 {
        font-size: 30px;
        color: #393e46;
      }
      h3 {
        font-size: 30px;
        color: #222831;
        span {
          font-size: inherit;
          color: #000000;
        }
      }
    }

    a {
      position: absolute;
      bottom: 10px;

      .icon {
        font-size: 80px;
        font-weight: 5px;
        animation: arrowBlink 2s infinite;
      }
      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }
}
