@import "../../global.scss";

.intro {
  background-color: #fff5e3;
  display: flex;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  .left {
    flex: 0.5;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .imageContainer {
      height: 600px;
      width: 600px;
      background-color: fff5e3;
      border-radius: 50%;
      display: flex;
      align-items: flex-end;
      justify-content: center;

      @include mobile {
        align-items: center;
        height: 500px;
        width: 600px;
      }
      img {
        height: 90%;
        bottom: 0;
        @include mobile {
          height: 50%;
        }
      }
    }
  }
  .right {
    flex: 0.5;
    background-color: #fff5e3;
    /* position: relative; */

    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      /* position: absolute; */

      @include mobile {
        padding-left: 0;
        align-items: center;
        z-index: 3;
      }

      h1 {
        font-size: 40px;
        color: #393e46;
        @include mobile {
          font-size: 25px;
        }
      }
      h2 {
        font-size: 30px;
        color: #393e46;
        @include mobile {
          font-size: 20px;
        }
      }
      h3 {
        font-size: 30px;
        color: #222831;

        span {
          font-size: 40px;
          color: crimson;

          @include mobile {
            font-size: 30px;
          }
        }
        .ityped-cursor {
          animation: blink 1s infinite;
          animation-direction: alternate;
        }

        @keyframes blink {
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }
      p {
        margin-top: 40px;
        font-size: 20px;
        font-weight: 400;
        @include mobile {
          font-size: 14px;
        }
        .button {
          border: 1px solid black;
          width: 50px;
          height: 30px;
        }
      }
    }

    .middle {
      width: 100%;
      height: 50%;
      background-color: brown;
    }

    a {
      position: absolute;
      bottom: 10px;
      @include mobile {
        display: none;
      }

      .icon {
        font-size: 80px;
        font-weight: 5px;
        animation: arrowBlink 2s infinite;
      }
      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }
}
