@import "../../global.scss";

.testimonials {
  background-color: #e7ffe9;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  @include mobile {
    justify-content: space-around;
  }

  h1 {
    font-size: 50;
    color: rgb(56, 56, 56);

    @include mobile {
      font-size: 20px;
    }
  }
  .container {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      flex-direction: column;
      height: 100%;
    }

    .card {
      width: 250px;
      height: 70%;
      border-radius: 10px;
      background-color: #c0eec4;
      border: 3px solid black;
      box-shadow: 0px 0px 15px -8px rgb(114, 114, 114);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 20px;
      transition: all 1s ease;

      @include mobile {
        height: 180px;
        margin: 10px 0;
      }

      &.featured {
        width: 300px;
        height: 75%;
        margin: 0 30px;

        @include mobile {
          width: 250px;
          height: 180px;
          margin: 1px;
        }
      }

      &:hover {
        transform: scale(1.1);
      }

      .top {
        display: flex;
        align-items: center;
        justify-content: center;

        .image {
          &.left,
          &.right {
            height: 25px;
            color: rgb(53, 53, 53);
            overflow: hidden;
          }
          &.user {
            height: 80px;
            width: 80px;
            border-radius: 50%;
            object-fit: cover;
            margin: 0 30px;
            overflow: hidden;
            color: rgb(82, 82, 82);

            @include mobile {
              width: 30px;
              height: 30px;
            }
          }
        }
      }

      .center {
        padding: 10px;
        background-color: #e7ffe9;
        /* border: 1px solid black; */
        border-radius: 10px;
        color: black;
        @include mobile {
          font-size: 10px;
          padding: 5px;
        }
      }

      .bottom {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        h3 {
          margin-bottom: 5px;
          color: rgb(75, 75, 75);
          @include mobile {
            font-size: 10px;
          }
        }
        h4 {
          color: grey;
          @include mobile {
            font-size: 9px;
          }
        }
      }
    }
  }
}
